/* src/css/App.css */

/* src/App.css */

.app-container {
  background-image: url('./pic/pubs.png'); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  min-height: 100vh; /* Ensure the container covers the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.text-white {
  color: #ffffff;
}
